form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: auto;
}
.error, label{
    font-size: 18px;
    font-family: sans-serif;
}
.error{
    color: red;
}
input{
    padding: 0.6em;
    font-size: 15px;
}
textarea{
    padding: 0.6em;
    font-size: 15px;
}
.submitButton{
    border: none;
    background-color: teal;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding-left:12px ;
    padding-right:12px ;
}
.submitButton:hover{
    cursor: pointer;
    background-color: rgb(4, 98, 98);
}